:root {
  --blue: #C9E2FA;
}
html{
  scroll-behavior: smooth;
  cursor:   none;  
}
body {
  font-family: "HelveticaLight";
  font-size: 20px;
  color: red;
}


#pointer{
  position:   absolute; 
  width:  100px;
  height:   100px;
  background-color:   red;
  transform: translate(-50%,-50%);
  border-radius:  50%;
  top:50%;
  left:50%;
  z-index:  99;
  pointer-events: none;
  box-sizing: border-box; 
  transition: .15s;
  z-index:  300;
  opacity:  0;
  filter:blur(20px);
}
#pointer-circle{
  position:   absolute; 
  width:  20px;
  height:   20px;
  transform: translate(-50%,-50%);
  border-radius:  50%;
  top:50%;
  left:50%;
  z-index:  99;
  pointer-events: none;
  box-sizing: border-box; 
  transition: .05s;
  z-index:  301;
  border: 2px solid white;
}
.container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg_sky.png");
  overflow: hidden;
}

.bg {
  pointer-events: none;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
  z-index: 1000;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.bg_circle {
  position: absolute;
  transition: 4s;
  pointer-events: none;
}

.bg_circle2 {
  position: absolute;
  transition: 4s;
  pointer-events: none;
}

header {
  position: fixed;
  font-size: 20px;  
  font-family: Playfair Display;
  font-style: italic;
  display: flex;
  justify-content:  space-between;
  align-items: end;
  width:90%;
  margin:auto;
 left:0;
 right:0;
  margin-top: 30px;
  z-index: 100;
}
header span {margin-right: 8px;}
nav {
  width: 40%;
}
header ul{
  display: flex;
  justify-content:  space-between;
}
h6{
  font-weight: medium;
  font-size: 28px;
  font-family: Playfair Display;
  font-style: italic;
}
div #booking{
  width: 100%;
  font-family: Playfair Display;
  font-style: italic;
}
a{
  color: red;  
  text-decoration: none;
}


 .link_cont {
  height: 25px;
  overflow: hidden;
  display: block;
}

 .link_cont span {
  display: block;
  transition: 1s;
}
a:hover{cursor: url(../images/cursor.png),pointer;
 /*.link_cont:hover span{transform: translateY(-25px);}*/
}

footer a:hover{cursor: pointer;
 /*.link_cont:hover span{transform: translateY(-25px);}*/
}

h1 {
  position: fixed;
  font-weight: medium;
  font-size: 248px;
  font-family: Playfair Display;
  font-style: italic;
  width:90%;
  margin:   auto;
  left:0;
  right:  0;
  text-align: center;
  transition:   1s;
  top: calc(0.35*100vh);
  animation: textblur 5s;
}
@keyframes textblur {
    0% { filter:blur(20px); opacity:  0; }
    20% { filter:blur(40px);  opacity:  1;}
    80% { filter:blur(0px);  opacity:  1;}
    90% { filter:blur(20px); opacity:  1; }
    100% { filter:blur(0px);  opacity:  1;}
}

.wrapper1{
  position:   relative;
  height: 100vh;
  width:  100vw;
  pointer-events:   none;
}


.wrapper2{
  position:   relative;
  height: 200vh;
  width:  100vw;
  z-index:  2;
}

.textik {
  position:fixed; 
  top:calc(0.25*100vh);
  width: 60%;
  margin: auto;
  left:0;
  right:  0;
  transition:   1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 40;
}

.textik h2{
  opacity:  0;
  transition:   1s;
  pointer-events: none;
}
.textik h2:hover {color: white;}
h2 {
  font-family:  Playfair Display;
  font-style: italic; 
  font-size: 64px;
  line-height:  64px;
  text-align:   center;
}





.title p{
  font-family: Playfair Display;
  font-style: italic;
  font-size: 28px;
  text-transform: uppercase;
}
.about p{
  font-family: Playfair Display;
  font-style: italic;
  font-size: 40px;
  line-height: 48px;
}
.text p{
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  width: 90%;
  margin-bottom: 16px;
}
.btn {
  border-radius: 50%;
  border: 2px solid red;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.btn div {
display: flex;
flex-direction: column;
align-items: center;
}

.btn p {
  font-family: 'Playfair Display';
font-style: italic;
font-size: 24px;
line-height: 24px;
text-align: center;
margin-top: 8px;
}

footer{
  width: 100%;
  height: 30vh;
  background-color: red;
  z-index: 1000;
  position: relative;
  font-size: 20px;  
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  padding-top: 40px;
  color: white;
}
footer .footer {
  display: flex;
  justify-content:  space-between;
  align-items: start;
  width: 90%;
  margin: auto;
}
footer a{
  color: white;
}
footer a:hover{
  text-decoration: underline;
}
footer li {
  margin-bottom: 16px;
}
footer nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

  
.mouse-parallax {
    height: 100vh;
    position: relative;
    overflow: hidden;
opacity: 0;
}
.mouse-parallax-bg {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;  
}

.description {
  position: absolute;
  top:30px;
  z-index: 20;
  height: 92vh;
  width: 90%;
  left:0;
  right: 0;
  margin: auto;
  opacity: 0;
  display: flex;
  transition: 2s;
  flex-direction: column;
  justify-content: space-between;
} 

.description div {
  display: flex;
  justify-content: space-between;
}

.description p {
  color: white;
  font-family: Playfair Display;
  font-style: italic;
  font-size: 28px;
  text-transform: uppercase;
}